{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Modifier mon profil</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_row(form.firstName) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_row(form.lastName) }}
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.phone) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.address) }}
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_profile') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Retour
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Enregistrer les modifications
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 